---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 4e624cab3e60997338650e96ca39e70471341c99
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1585775014'
      Etag:
      - W/"6ab8312f833d36bcb8033b5e2e3158eb"
      X-Oauth-Scopes:
      - user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":241471036,"node_id":"MDEwOlJlcG9zaXRvcnkyNDE0NzEwMzY=","name":"monster_shop_1911","full_name":"alerrian/monster_shop_1911","private":false,"owner":{"login":"alerrian","id":21130370,"node_id":"MDQ6VXNlcjIxMTMwMzcw","avatar_url":"https://avatars1.githubusercontent.com/u/21130370?v=4","gravatar_id":"","url":"https://api.github.com/users/alerrian","html_url":"https://github.com/alerrian","followers_url":"https://api.github.com/users/alerrian/followers","following_url":"https://api.github.com/users/alerrian/following{/other_user}","gists_url":"https://api.github.com/users/alerrian/gists{/gist_id}","starred_url":"https://api.github.com/users/alerrian/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alerrian/subscriptions","organizations_url":"https://api.github.com/users/alerrian/orgs","repos_url":"https://api.github.com/users/alerrian/repos","events_url":"https://api.github.com/users/alerrian/events{/privacy}","received_events_url":"https://api.github.com/users/alerrian/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alerrian/monster_shop_1911","description":null,"fork":true,"url":"https://api.github.com/repos/alerrian/monster_shop_1911","forks_url":"https://api.github.com/repos/alerrian/monster_shop_1911/forks","keys_url":"https://api.github.com/repos/alerrian/monster_shop_1911/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alerrian/monster_shop_1911/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alerrian/monster_shop_1911/teams","hooks_url":"https://api.github.com/repos/alerrian/monster_shop_1911/hooks","issue_events_url":"https://api.github.com/repos/alerrian/monster_shop_1911/issues/events{/number}","events_url":"https://api.github.com/repos/alerrian/monster_shop_1911/events","assignees_url":"https://api.github.com/repos/alerrian/monster_shop_1911/assignees{/user}","branches_url":"https://api.github.com/repos/alerrian/monster_shop_1911/branches{/branch}","tags_url":"https://api.github.com/repos/alerrian/monster_shop_1911/tags","blobs_url":"https://api.github.com/repos/alerrian/monster_shop_1911/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alerrian/monster_shop_1911/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alerrian/monster_shop_1911/git/refs{/sha}","trees_url":"https://api.github.com/repos/alerrian/monster_shop_1911/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alerrian/monster_shop_1911/statuses/{sha}","languages_url":"https://api.github.com/repos/alerrian/monster_shop_1911/languages","stargazers_url":"https://api.github.com/repos/alerrian/monster_shop_1911/stargazers","contributors_url":"https://api.github.com/repos/alerrian/monster_shop_1911/contributors","subscribers_url":"https://api.github.com/repos/alerrian/monster_shop_1911/subscribers","subscription_url":"https://api.github.com/repos/alerrian/monster_shop_1911/subscription","commits_url":"https://api.github.com/repos/alerrian/monster_shop_1911/commits{/sha}","git_commits_url":"https://api.github.com/repos/alerrian/monster_shop_1911/git/commits{/sha}","comments_url":"https://api.github.com/repos/alerrian/monster_shop_1911/comments{/number}","issue_comment_url":"https://api.github.com/repos/alerrian/monster_shop_1911/issues/comments{/number}","contents_url":"https://api.github.com/repos/alerrian/monster_shop_1911/contents/{+path}","compare_url":"https://api.github.com/repos/alerrian/monster_shop_1911/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alerrian/monster_shop_1911/merges","archive_url":"https://api.github.com/repos/alerrian/monster_shop_1911/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alerrian/monster_shop_1911/downloads","issues_url":"https://api.github.com/repos/alerrian/monster_shop_1911/issues{/number}","pulls_url":"https://api.github.com/repos/alerrian/monster_shop_1911/pulls{/number}","milestones_url":"https://api.github.com/repos/alerrian/monster_shop_1911/milestones{/number}","notifications_url":"https://api.github.com/repos/alerrian/monster_shop_1911/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alerrian/monster_shop_1911/labels{/name}","releases_url":"https://api.github.com/repos/alerrian/monster_shop_1911/releases{/id}","deployments_url":"https://api.github.com/repos/alerrian/monster_shop_1911/deployments","created_at":"2020-02-18T21:27:04Z","updated_at":"2020-03-01T22:10:34Z","pushed_at":"2020-03-01T22:10:32Z","git_url":"git://github.com/alerrian/monster_shop_1911.git","ssh_url":"git@github.com:alerrian/monster_shop_1911.git","clone_url":"https://github.com/alerrian/monster_shop_1911.git","svn_url":"https://github.com/alerrian/monster_shop_1911","homepage":null,"size":398,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":3,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":225475464,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0NzU0NjQ=","name":"git_flow_practice","full_name":"fredrondina96/git_flow_practice","private":false,"owner":{"login":"fredrondina96","id":53842022,"node_id":"MDQ6VXNlcjUzODQyMDIy","avatar_url":"https://avatars3.githubusercontent.com/u/53842022?v=4","gravatar_id":"","url":"https://api.github.com/users/fredrondina96","html_url":"https://github.com/fredrondina96","followers_url":"https://api.github.com/users/fredrondina96/followers","followin[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 4e624cab3e60997338650e96ca39e70471341c99
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1585775[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 4e624cab3e60997338650e96ca39e70471341c99
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1585775[...]
