---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/itemniner/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token e9052476bb5773a5567c93ac34ecf888944dd931
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1585256878'
      Etag:
      - W/"c14677c67b337b53a1b153bf3dda3241"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/49219371/repos?page=2>; rel="next", <https://api.github.com/user/49219371/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":228880996,"node_id":"MDEwOlJlcG9zaXRvcnkyMjg4ODA5OTY=","name":"activerecord-obstacle-course","full_name":"itemniner/activerecord-obstacle-course","private":false,"owner":{"login":"itemniner","id":49219371,"node_id":"MDQ6VXNlcjQ5MjE5Mzcx","avatar_url":"https://avatars2.githubusercontent.com/u/49219371?v=4","gravatar_id":"","url":"https://api.github.com/users/itemniner","html_url":"https://github.com/itemniner","followers_url":"https://api.github.com/users/itemniner/followers","following_url":"https://api.github.com/users/itemniner/following{/other_user}","gists_url":"https://api.github.com/users/itemniner/gists{/gist_id}","starred_url":"https://api.github.com/users/itemniner/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/itemniner/subscriptions","organizations_url":"https://api.github.com/users/itemniner/orgs","repos_url":"https://api.github.com/users/itemniner/repos","events_url":"https://api.github.com/users/itemniner/events{/privacy}","received_events_url":"https://api.github.com/users/itemniner/received_events","type":"User","site_admin":false},"html_url":"https://github.com/itemniner/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/itemniner/activerecord-obstacle-course/deployments","created_at":"2019-12-18T16:35:25Z","updated_at":"2019-12-18T16:35:27Z","pushed_at":"2019-12-06T11:35:54Z","git_url":"git://github.com/itemniner/activerecord-obstacle-course.git","ssh_url":"git@github.com:itemniner/activerecord-obstacle-course.git","clone_url":"https://github.com/itemniner/activerecord-obstacle-course.git","svn_url":"https://github.com/itemniner/activerecord-obstacle-course","homepage":null,"size":63,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":236604787,"node_id":"MDEwOlJlcG9zaXRvcnkyMzY2MDQ3ODc=","name":"adopt_dont_shop","full_name":"itemniner/adopt_dont_shop","private":false,"owner":{"login":"itemniner","id":49219371,"node_id":"MDQ6VXNlcjQ5MjE5Mzcx","avatar_url":"https://avatars2.githubusercontent.com/u/49219371?v=4","gravatar_id":"","url":"https://api.github.com/users/itemniner","html_url":"https://github.com/itemniner","followers_url":"https://api.github.com/users/itemniner/followers","following_url":"https://api.gith[...]
[...]
